* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(160, 204, 207);
    text-align: center;
}

.w3-container {
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game {
    height: 60vmin;
    width: 60vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2px;
    background-color: antiquewhite;
    border-radius: 1rem;
}

.box {
    height: 19vmin;
    width: 19vmin;
    border-radius: 1rem;
    border: none;
    font-size: 8vmin;
    /* background-color: rgb(65, 216, 140); */
    background-color: azure;
    color: red;
}

#reset, .msg {
    font-size: 4vmin;
    border-radius: 1rem;
}

#reset {
    background-color: #191913;
    color: aliceblue;
    font-style: italic;
}

.hide {
    display: none;
}
